$color-blue: #4072EE;
$color-blue-light: #679CF6;
$color-white: #fff;
$color-black: #000;
$color-black-light: #333;
$color-orange: #ff9d06;
$color-err: #fda93d;
$color-red: #FF2020;
$color-green: #3FB537;